<header>
  <div class="logo">
    <a href="#!/books"> <img src="i/logo.png" alt=""></a>
  </div>
  <div class="search">
    <input placeholder="&#128269;  Поиск, скорее всего, не работает" ng-model="$ctrl.query">
  </div>
</header>
<h2 class="slogan">Самое незаметное издательство</h2>
<p class="drag">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится. </p>
  <ul class="book-list">
    <li class="book" ng-repeat="book in $ctrl.books | filter:$ctrl.query | limitTo:$ctrl.itemsLimit ">
      <a class="book-image" href="#!/books/{{book.id}}"> <img ng-src="{{ book.cover.small }}" alt=""></a>
      <a class="book-info" href="#!/books/{{book.id}}"><p ng-bind-html="book.info"></p></a>
    </li>
  </ul>
<button class="btn-book" ng-click="$ctrl.moreClick()" ng-if="$ctrl.numItems > $ctrl.itemsLimit">Eще несколько книг</button>
<footer>
  <a href="#!/about"> <img src="i/footer.png" alt=""></a>
</footer>
