$big-text: 2.4rem
$normal-text: 2.1rem
$small-text: 1.9rem

@font-face
	font-family: 'ALS Fuchsia'
	src: url(../font/alsfuchsia.ttf)

@font-face
	font-family: 'ALS Fuchsia'
	src: url(../font/alsfuchsia.otf)

*
	margin: 0

html
	font-size: 10px
	font-family: Arial, sanserif

body
	margin: 0 1rem

	@media screen and (min-width: 1366px)
		width: 128rem
		margin: 0 auto
	
h2
	font-weight: bold
	font-size: 3.8rem

	@media screen and (min-width: 1366px)
		font-size: 7.2rem

h3
	font-weight: bold
	font-size: 3.2rem

	@media screen and (min-width: 1366px)
		font-size: 4.2rem

h4
	font-weight: bold
	font-size: 2.4rem

p
	font-size: $small-text

.help-block
	color: red

/* header */

header
	padding: 4rem 0 2.5rem
	
	@media screen and (min-width: 650px)
		overflow: hidden

.logo
	padding-bottom: 3.7rem

	@media screen and (min-width: 650px)
		float: left

.search input
	width: 29rem
	height: 3rem
	border: 1px solid #b3b3b3
	border-radius: 2rem
	padding-left: 1rem

	@media screen and (min-width: 650px)
		float: right

.search input::-webkit-input-placeholder
		font-size: 1.5rem
		color: #979799

.search input::-moz-placeholder
		font-size: 1.5rem
		color: #979799

.search input:-ms-input-placeholder
		font-size: 1.5rem
		color: #979799

.search input::placeholder
		font-size: 1.5rem
		color: #979799
	
.search input:focus::-webkit-input-placeholder
		color: transparent

.search input:focus::-moz-placeholder
		color: transparent

.search input:focus:-ms-input-placeholder
		color: transparent

.search input:focus::placeholder
		color: transparent

/* /header */

/* main */

/* .book-detail */

.book-detail
	position: relative

.book-cover
	display: block
	margin: 0 auto
	margin-bottom: 2.9rem
	width: 28rem
	height: 40rem
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75)
	position: relative

	img
		width: 28rem

		@media screen and (min-width: 650px)
			width: 42rem

	@media screen and (min-width: 650px)
		width: 42rem
		height: 60rem

	

.book-cover:after
	content: ""
	position: absolute
	width: 0
	height: 0
	border: 1rem solid #bd383e
	border-bottom-color: transparent
	border-top-width: 3rem 
	left: 4rem
	bottom: -4rem

.book-section
	font-size: 2.4rem
	line-height: 1.4
	text-align: center
	padding-bottom: 5rem

	@media screen and (min-width: 1040px)
		display: block
		max-width: 42rem
		margin: 0 auto

	strong
		color: #fc5454

.review, .features
	text-align: center

	@media screen and (min-width: 650px)
		display: inline-block
		

	@media screen and (min-width: 1040px)
		position: absolute

.review-features
	text-align: center

.review-1
	@media screen and (min-width: 1040px)
		top: 0
		left: 1rem

	@media screen and (min-width: 1200px)
		top: 0
		left: 6rem

	@media screen and (min-width: 1366px)
		top: 0
		left: 9.5rem

.review-2
	@media screen and (min-width: 1040px)
		bottom: 9rem
		left: 1rem

	@media screen and (min-width: 1200px)
		bottom: 9rem
		left: 6rem

	@media screen and (min-width: 1366px)
		bottom: 9rem
		left: 9.5rem

.feature-1
	@media screen and (min-width: 1040px)
		top: 0
		right: 1rem

	@media screen and (min-width: 1200px)
		top: 0
		right: 6rem

	@media screen and (min-width: 1366px)
		top: 0
		right: 9.5rem

.feature-2
	@media screen and (min-width: 1040px)
		bottom: 9rem
		right: 1rem

	@media screen and (min-width: 1200px)
		bottom: 9rem
		right: 6rem

	@media screen and (min-width: 1366px)
		bottom: 9rem
		right: 9.5rem
		

.review-text, .feature-text
	font-size: $normal-text
	line-height: 1.5
	padding: 1.2rem 0 5.1rem
	width: 28rem
	margin: 0 auto

.btn-buy
	font-size: 3.26rem
	line-height: 1.16
	background: #845987
	background: linear-gradient(to bottom, #865788 0%, #633b65 100%)
	color: #fff
	border-radius: 1.5rem
	padding: 1.8rem 0
	width: 30rem
	margin-bottom: 2.5rem
	box-shadow: 0 4px 10px #554955;

	&:hover
		background: linear-gradient(to bottom, #c28dc5 0%, #4c2a4e 100%)

	&:active
		background: linear-gradient(to bottom, #865788 0%, #633b65 100%)
		box-shadow: 0 2px 3px #554955;

	@media screen and (min-width: 1366px)
		width: 44rem

.price 
	text-align: center
	margin: 0 auto
	
	p
	font-style: italic
	font-size: 1.5rem
	color: #dcdcdc

	@media screen and (min-width: 1366px)
		width: 42rem

.price img
	padding: 0.5rem 0 8rem

.eye
  position: relative
  bottom: 17rem
  left: 50%
  width: 15rem
  height: 14rem
  transform: translate(-7rem, -7rem)

  @media screen and (min-width: 650px)
  	bottom: 22rem

.eye-single 
  position: absolute
  width: 14rem
  height: 14rem
  top: 0
  border-radius: 50%
  background-image: url(../i/eyes.png)
  background-position: 0 0
  overflow: hidden
  animation: blink 4s linear infinite

.iris 
  position: absolute
  width: 2.5rem
  height: 2.5rem
  background-color: #000
  border-radius: 50%
  top: 4rem
  left: 6rem
  transform: translate(-4rem, -4rem)

@keyframes blink
	90%
		background-position: 0 0
	90.001%
		background-position: -142px 0
	92%
		background-position: -142px 0
	92.001%
		background-position: -284px 0
	94%
		background-position: -284px 0
	94.001%
		background-position: 0 -144px
	96%
		background-position: 0 -144px
	96.001%
		background-position: -144px -145px
	98%
		background-position: -144px -145px
	98.001%
		background-position: -290px -145px
	100%
		background-position: -290px -145px

/* /.book-detail */

/* book-list */

.slogan
	padding-bottom: 2.9rem
	text-align: center
	margin: 0
	max-width: 120rem

.drag
	display: none

	@media screen and (min-width: 1366px)
		display: block
		width: 88rem
		margin: 0 auto
		text-align: center
		line-height: 1.5
		font-size: 3.2rem
		padding-bottom: 4.2rem 

.book-list
	padding-bottom: 4rem
	padding-left: 0
	text-align: center

.book
	list-style-type: none
	padding-bottom: 4.3rem
	
	@media screen and (min-width: 650px)
		width: 32rem
		display: inline-block
		vertical-align: top
		padding-bottom: 5.3rem

.book:last-of-type
	padding-bottom: 0

.book-image
	display: block
	padding-bottom: 2rem
	position: relative

	&::after
		content: ""
		position: absolute
		width: 0
		height: 0
		border: 0.5rem solid #bd383e
		border-bottom-color: transparent
		border-top-width: 1.5rem 
		left: 8rem
		bottom: 0rem

.book-image img
	display: block
	margin: 0 auto
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75)

.book-info
	text-align: center
	text-decoration: none
	color: #000

	u
		color: #4285be

		&:hover
			color: #e51907

	p
		padding: 0 (100%/30)

		@media screen and (min-width: 1366px)
			padding: 0 2rem

.btn-book
	border: 2px solid #96c2e4
	border-radius: 1rem
	font-size: 1.7rem
	line-height: 2.8
	color: #4285be
	width: 28rem
	background-color: #fff
	display: block
	margin: 0 auto
	margin-bottom: 10rem

	&:hover, &:active
		border-color: #e51907
		color: #e51907
	
	

/* /book-list */

/* about */

.responsibility
	font-size: 2.4rem
	line-height: 1.4
	text-align: center
	padding-bottom: 4rem
	max-width: 88rem
	display: block
	margin: 0 auto

	@media screen and (min-width: 1366px)
		font-size: 3.2rem
		line-height: 1.5

.history, .founders-info, .staff
	max-width: 64rem
	margin: 0 auto

.history p
	panding-top: 3rem
	line-height: 1.7 

.founders-photo
	font-size: 0
	padding: 1.7rem 0 4rem
	max-width: 111rem
	margin: 0 auto

	@media screen and (min-width: 1366px)
		margin: 0 auto

	p
		text-align: center
		line-height: 0
		padding: 0

	img
		display: inline-block
		padding: 1.9rem

		@media screen and (min-width: 1366px)
			padding: 4rem
			vertical-align: top

	img:nth-of-type(2)
		padding: 1.3rem

about

		h3
			padding-bottom: 3rem

		h4
			padding-bottom: 3rem
		
		p
			padding-bottom: 4rem
			line-height: 1.7

.request
	padding-left: 0

	li
		list-style: none
		font-size: $small-text
		line-height: 1.7
		margin-left: 22px
		position: relative 
		padding-bottom: 2rem

	li::before
		content: "—  "
		left: -22px
		position: absolute
    	
.insert
	font-family: 'ALS Fuchsia'
	font-size: 2.8rem
	line-height: 1.5
	display: block
	padding: 4rem 0
	border-top: 1px solid #000
	border-bottom: 1px solid #000
	text-align: center

	@media screen and (min-width: 900px)
		width: 75rem
		margin: 0 auto
		margin-left: -5rem

	@media screen and (min-width: 1100px)
		width: 88rem
		margin-left: -12rem
		padding: 5rem 1rem

.insert + h4
	padding-top: 4rem

	@media screen and (min-width: 1100px)
		padding-top: 5rem

/* /about */

/* book-order */

.wrapper
	max-width: 109rem
	margin: 0 auto
	overflow: hidden

	img
		display: block
		margin: 0 auto
		padding: 3rem
		
		@media screen and (min-width: 860px)
			float: right
			padding-left: 1rem

input[type="text"], input[type="tel"], input[type="email"], textarea[name="shipping-adress"], textarea[name="comment"]
	width: 27rem
	border: 0.2rem solid #000
	display: block

label
	font-size: 1.5rem

label[for="name"], label[for="phone"], label[for="email"]
	display: block

textarea[name="shipping-adress"]
	height: 3.5rem

textarea[name="comment"]
	height: 10rem

	@media screen and (min-width: 960px)
		width: 32rem

	@media screen and (min-width: 1100px)
		width: 42rem

.order
	border: 0.2rem solid #000
	border-radius: 5px
	background-color: #e6e6e6
	padding: 0 8rem
	line-height: 3
	margin-bottom: 10rem
	
	@media screen and (min-width: 1100px)
		margin-left: 5.5rem

form
	overflow: hidden
	max-width: 63rem
	margin: 0 auto

	@media screen and (min-width: 860px)
		float: left
		padding-top: 3rem
		min-width: 58rem

	@media screen and (min-width: 960px)
		min-width: 63rem
		
	@media screen and (min-width: 1100px)
		min-width: 78rem

.info-delivery
	@media screen and (min-width: 650px)
		float: left

.comment-pay
	@media screen and (min-width: 650px)
		float: right

.sum
	padding: 6rem 0
	text-align: center

.error-order
	color: red
	text-align: center

.succes-order
	padding: 10rem 0

.hide-block
	display: none

/* /book-order */
/* /main */

/* footer*/

footer img
	display: block
	margin: 0 auto

/* /footer */

