<header>
  <div class="logo">
    <a href="#!/books"> <img src="i/logo.png" alt=""></a>
  </div>
  <div class="search">
    <input placeholder="&#128269;  Поиск, скорее всего, не работает" ng-model="$ctrl.query">
  </div>
</header>
<h2 class="slogan">Мы издаем книги — вы их можете не читать</h2>
<div class="wrapper">
    <h4 class="succes-order hide-block">Заказ на книгу успешно оформлен. <br>
    Спасибо, что спасли книгу от сжигании в печи.</h4>
    <p class="error-order hide-block">{{ $ctrl.ResponseDetails }}</p>
    <div class="content">
        <h4>Оформить заказ на книгу <a href="#!/books/{{$ctrl.book.id}}">{{$ctrl.book.title}}</a></h4>
        <a href="#!/books/{{$ctrl.book.id}}"><img ng-src="{{$ctrl.book.cover.small}}" alt=""></a>
        <form action="" name="form" ng-model="$ctrl.form" ng-submit="submitForm()">
            <div class="info-delivery">
                <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" ng-model="$ctrl.name" required>
                    <span ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Введите, пожалуйста, Ваше имя.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.phone.$invalid && !form.phone.$pristine }">
                    <label for="phone">Телефон:</label>
                    <input type="tel" id="phone" name="phone" ng-model="$ctrl.phone" required>
                    <span ng-show="form.phone.$invalid && !form.phone.$pristine" class="help-block">Введите, пожалуйста, Ваш номер телефона.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                    <label for="email">Эл. адрес:</label>
                    <input type="email" id="email" name="email" ng-model="$ctrl.email" required>
                    <span ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Введите, пожалуйста, корректный e-mail.</span>
                </div>
                <p >Способы доставки:
                    <p ng-repeat="delivery in $ctrl.deliveries">
                        <input type="radio" id="{{ delivery.id }}" name="delivery" value="{{ delivery.price }}" ng-model="$ctrl.shipping">
                        <label for="{{ delivery.id }}">{{ delivery.name }} - {{ delivery.price }} Z</label>
                    </p>
                    <p ng-show="$ctrl.shipping != 0">
                        <label for="shipping-adress">Адрес доставки</label>
                        <textarea name="shipping-adress" id="shipping-adress" cols="30" rows="10" ng-model="$ctrl.shippingAdress"></textarea>
                    </p>
                </p>
            </div>
            <div class="comment-pay">
                <label for="comment">Комментарий к заказу</label>
                <textarea name="comment" id="comment" cols="30" rows="10" ng-model="$ctrl.comment"></textarea>
                <p>Способы оплаты:
                    <p ng-repeat="payment in $ctrl.payments">
                        <input type="radio" id="{{ payment.id }}" name="pay" value="{{ payment.id }}" ng-model="$ctrl.payment">
                        <label for="{{ payment.id }}">{{ payment.title }}</label>
                    </p>
                </p>
                <h4 class="sum">Итого к оплате {{ $ctrl.book.price + +$ctrl.shipping }} Z</h4>
                <button class="order" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.SendData()">Оформить заказ</button>
            </div>
        </form>
    </div>
</div>
<footer>
  <a href="#!/about"> <img src="i/footer.png" alt=""></a>
</footer>
