<header>
  <div class="logo">
    <a href="#!/books"> <img src="i/logo.png" alt=""></a>
  </div>
  <div class="search">
    <input placeholder="&#128269;  Поиск, скорее всего, не работает" ng-model="$ctrl.query">
  </div>
</header>
<h2 class="slogan">Мы издаем книги — вы их можете не читать</h2>
<div class="book-detail">
  <div class="book-cover">
    <img ng-src="{{$ctrl.book.cover.large}}" alt="">
     <div class="eye">
      <div class="eye-single">
        <div class="iris"></div>
      </div>
    </div>
  </div>
  <p class="book-section" ng-bind-html="$ctrl.book.description"></p>
  <div class="review-features">
    <div class="review-1 review">
      <img ng-src="{{$ctrl.book.reviews[0].author.pic}}" alt="{{$ctrl.book.reviews[0].author.name}}">
      <p class="review-text">{{$ctrl.book.reviews[0].cite}}</p>
    </div>
    <div class="review-2 review">
      <img ng-src="{{$ctrl.book.reviews[1].author.pic}}" alt="{{$ctrl.book.reviews[1].author.name}}">
      <p class="review-text">{{$ctrl.book.reviews[1].cite}}</p>
    </div>
    <div class="feature-1 features">
      <img ng-src="{{$ctrl.book.features[0].pic}}" alt="">
      <p class="feature-text">{{$ctrl.book.features[0].title}}</p>
    </div>
    <div class="feature-2 features">
      <img ng-src="{{$ctrl.book.features[1].pic}}" alt="">
      <p class="feature-text">{{$ctrl.book.features[1].title}}</p>
    </div>
  </div>
</div>
<div class="price">
  <a href="#!/books/{{$ctrl.book.id}}/order"><button class="btn-buy">Купить за жалкие {{$ctrl.book.price}}Z</button></a>
  <p>Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
  <img src="i/skraffi.jpg" alt="">
</div>
<footer>
  <a href="#!/about"> <img src="i/footer.png" alt=""></a>
</footer>